.contentwrapper{
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: center;
}
//Text on landingpage
.albumtxt{
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 300;
    font-size: 2rem;
}

//Text for secondary albums / used in other custom pages
.textwrapper{
    margin-top: 7rem;
    margin-bottom: 10rem;
    font-weight: 300;
}
.typetitle{
    // margin-bottom: 3rem;
    font-size: 2rem;
}
.typedescription{
    font-size: 1.3rem;
}
//Gera responsive
//Container for all albums
.albumcontainer{
    display: flex;
    flex-flow: wrap;
    flex: 3;
    justify-content: space-between;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 17rem;
    @media (max-width: 400px) {
        .flex-grid {
          display: block;
        }
      }
}
//Each album
.albumimg{
    align-items: center;
    margin: auto;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: relative;
    cursor: pointer;
}
//overlay kemur út fyrir myndirnar  - laga
//Overlay color and text when hovered 
.overlaytxt{
position: absolute;
text-align: center;
color: #ffffff;
background-color: rgba(0, 0, 0, 0.5);
font-size: 2rem;
font-weight: 200;
line-height: 12;
bottom: 0;
right: 0;
top: 0;
left: 0;
visibility: hidden;
opacity: 0;
transition: .5s ease;
width: 400px;
height: 411px;
}

//Makes hover color and text visible when hovering
.albumimg:hover .overlaytxt {
    visibility: visible;
    opacity: 1;
    overflow: hidden;
    background-size: cover;
    background-position: center;

}




