.contentwrapper {
  margin-left: 4rem;
  margin-right: 4rem;
  text-align: center;
}

.textwrapper {
  margin-top: 7rem;
  margin-bottom: 6.5rem;
  font-weight: 300;
}

.title {
  font-size: 2rem;
}
@media (max-width: 768px) {
  .title {
    font-size: 1.8rem;
  }
}
@media (max-width: 575px) {
  .title {
    font-size: 1.6rem;
  }
}

.description {
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: left;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: black;
}
@media (max-width: 768px) {
  .description {
    font-size: 1.1rem;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .description {
    font-size: 1rem;
  }
}

.gallery {
  display: flex;
  flex-direction: row;
  flex: 3;
  gap: 0.3em;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 17rem;
  padding: 2px;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 74vw;
}
@media (max-width: 768px) {
  .gallery {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
}

.galleryimg {
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  margin: 0;
  padding: 0;
  align-items: stretch;
  flex-wrap: wrap;
  height: 29em;
  width: auto;
  border: 1px solid rgba(204, 204, 204, 0.4);
  pointer-events: none;
  justify-content: center;
}
@media (max-width: 768px) {
  .galleryimg {
    max-height: 14rem;
    max-width: 20rem;
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

.backicon {
  margin-bottom: 4rem;
  margin-top: 2rem;
  height: 50px;
  width: 50px;
  display: block;
}
@media (max-width: 768px) {
  .backicon {
    width: 35px;
    height: 35px;
    margin-left: 0.5rem;
  }
}

.backbtn {
  text-decoration: none;
  border: none;
  background: none;
  float: left;
  display: block;
}
@media (max-width: 768px) {
  .backbtn {
    margin-left: -5rem;
  }
}