.contentwrapper {
  margin-left: 4rem;
  margin-right: 4rem;
  text-align: center;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex: 3;
  gap: 0.3em;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 17rem;
  padding: 2px;
  transition: 0.3s;
  vertical-align: bottom;
}

.galleryimg {
  align-items: center;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  transition: 0.3s;
  margin: 0;
  padding: 0;
  align-items: stretch;
}

.galleryimg {
  display: block;
  transition: 0.3s;
}