@import "../mixins";

.contentwrapper{
    margin-left: 4rem;
    margin-right: 4rem;
    padding-top: 2em;
      @include mobile(){
        height: auto;
        display: flex;
        justify-content: center;
     }
     @include xtralargescreen(){
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: auto;
        margin-bottom: 20rem;
    }
}
.aboutwrapper{
    display:flex; 
    margin-bottom: 10rem;
    justify-content: center;
    align-items: center;
    @include tablet(){
        justify-content: center;
        display: block;
        margin-bottom: 8rem;
        margin-left: auto;
        margin-right: auto;
    }
}
.aboutimg {
    display: flex;
    margin: auto;
}
//body and name wrapped 
.aboutxtwrapper{
    line-height: 1.6rem;
    max-width: 800px;
}
//Title on page
.title{
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 300;
    font-size: 2.1rem; //35
    @include mobile(){
        font-size: 1.563rem; //25
        margin-top: 10rem;
        text-align: center;
    }
}
//Sub heading (name in about)
.name{
    font-size: 1.8rem; //30
    font-weight: 300;
    text-align: center;
    display:flex;
    margin-left: 3rem;
    @include mobile(){
        font-size: 1.1rem; //18 
        text-align: center;
        margin: auto;
        display: block;
        justify-content: center;
    }
    @include tablet(){
        text-align: center;
        margin: auto;
        display: block;
        justify-content: center;
    }
}
//Body text
.abouttxt{
    margin-left: 3rem;
    font-size: 1.125;
    margin-right: 8rem;
    vertical-align: middle;
    @include mobile(){
        font-size: 1rem; 
        display: block;
        margin: auto;
        justify-content: center;
    }
    @include tablet(){
        margin: auto;
        display: block;
        justify-content: center;
    }
}
