.logo {
  margin-bottom: 0.8rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.contentwrapper {
  margin-left: 4rem;
  margin-right: 4rem;
  text-align: center;
  align-content: center;
}

.navlinks {
  display: flex;
  gap: 2rem;
  justify-content: center;
  color: rgb(48, 48, 48);
  margin-bottom: 3em;
}

.link {
  cursor: pointer;
  font-size: 1rem;
}
@media (max-width: 578px) {
  .link {
    font-size: 0.8rem;
  }
}

.copyright {
  text-align: center;
  margin-bottom: 2em;
}

.backtotopbtn {
  width: 50px;
  height: 50px;
  position: fixed;
}
@media (max-width: 768px) {
  .backtotopbtn {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 578px) {
  .backtotopbtn {
    width: 35px;
    height: 35px;
    right: 0.08rem;
  }
}

.replink {
  text-decoration: none;
  color: rgb(48, 48, 48);
}