.contentwrapper {
  margin-left: 4rem;
  margin-right: 4rem;
  display: block;
  padding-top: 2em;
}
@media (max-width: 578px) {
  .contentwrapper {
    display: inline;
  }
}
@media (max-width: 768px) {
  .contentwrapper {
    display: inline;
  }
}

.textwrapper {
  position: absolute;
  left: 10rem;
  margin-top: 7rem;
  z-index: 1;
}
@media (max-width: 578px) {
  .textwrapper {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    text-align: center;
    justify-content: center;
    left: auto;
  }
}
@media (max-width: 768px) {
  .textwrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    justify-content: center;
    max-width: 300px;
    margin-left: 3rem;
  }
}
@media (max-width: 1200px) {
  .textwrapper {
    max-width: 300px;
    margin-left: 5rem;
  }
}
@media (min-width: 1830px) {
  .textwrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    justify-content: center;
    left: auto;
    max-width: 300px;
    margin-left: 40rem;
    margin-top: 1rem;
  }
}

.cta {
  font-size: 3rem;
  font-weight: 400;
}
@media (max-width: 578px) {
  .cta {
    font-weight: 500;
    font-size: 100rem;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .cta {
    font-weight: 500;
    font-size: 1.8rem;
    margin: auto;
  }
}
@media (min-width: 1830px) {
  .cta {
    font-size: 3.7rem;
    font-weight: 600;
  }
}

.email {
  margin-top: -0.7rem;
  font-size: 1.2rem;
  font-weight: 400;
}
@media (max-width: 578px) {
  .email {
    font-size: 1rem;
    max-width: 200px;
    margin: auto;
    align-content: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .email {
    font-weight: 500;
    font-size: 1.1rem;
    margin: auto;
  }
}
@media (min-width: 1830px) {
  .email {
    font-size: 2rem;
    max-width: auto;
    line-height: 2.8rem;
  }
}

.overlay {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 4rem;
  overflow: hidden;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  inset: 0;
}

.footerimg {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  margin-bottom: 4rem;
}