.contentwrapper {
  margin-left: 4rem;
  margin-right: 4rem;
  display: block;
  padding-top: 2em;
}
@media (max-width: 575px) {
  .contentwrapper {
    display: inline;
  }
}
@media (max-width: 768px) {
  .contentwrapper {
    display: inline;
  }
}

.textwrapper {
  position: absolute;
  margin-top: 2vh;
  left: 8vw;
  align-items: baseline;
  z-index: 1;
  text-align: left;
}
@media (min-width: 1830px) {
  .textwrapper {
    left: 27vw;
  }
}

.cta {
  font-size: 3rem;
  font-weight: 400;
}
@media (max-width: 575px) {
  .cta {
    font-weight: 500;
    font-size: 1.1rem;
    font-size: 100rem;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .cta {
    font-weight: 500;
    font-size: 1.2rem;
    margin: auto;
  }
}
@media (max-width: 1200px) {
  .cta {
    font-weight: 500;
    font-size: 3rem;
    margin: auto;
    margin-bottom: -1.4rem;
  }
}
@media (min-width: 1830px) {
  .cta {
    font-size: 3.7rem;
    font-weight: 500;
  }
}

.email {
  margin-top: -0.7rem;
  font-size: 1.2rem;
  font-weight: 400;
}
@media (max-width: 575px) {
  .email {
    font-size: 0.9rem;
    max-width: 200px;
    margin: auto;
    align-content: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .email {
    font-weight: 500;
    font-size: 1.1rem;
    margin: auto;
  }
}
@media (max-width: 1200px) {
  .email {
    font-weight: 400;
    font-size: 1.4rem;
    margin: auto;
  }
}
@media (min-width: 1830px) {
  .email {
    font-size: 2rem;
    max-width: auto;
    line-height: 2.8rem;
  }
}

.overlay {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 4rem;
  overflow: hidden;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  inset: 0;
}

.footerimg {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.4;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 4rem;
}