.contentwrapper {
  margin-left: 4rem;
  margin-right: 4rem;
  display: inline;
}

.bannerimg {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  margin-bottom: 12rem;
}